@charset "utf-8";

body{
	font-size: 1em;
}

h1{
	color: #66bbff;
}

.welcomeButton{
	text-decoration: none;
	background-color: #66bbff;
	padding: 5px 10px 5px 10px;
	color: #fff;	
	font-size: 1.2em;
	font-weight: 700;
	border-radius: 5px;
}